/*\
|*|
|*|  Matiboux Stylesheet
|*|  Copyright Matiboux 2015
|*|
|*|  Developper: Matiboux (http://matiboux.com/)
|*|
\*/

/* --------- */
/*  GENERAL  */
/* --------- */

@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
body {
	font-family: 'Roboto', sans-serif;
	background: #f5f5f5;
	margin: 0;
	overflow-x: hidden;
}

hr { margin: 15px 0; }
.xsmall { font-size: 70%; }

/* -------- */
/*  NAVBAR  */
/* -------- */

.navbar {
	background: #202630;
	margin-bottom: 0;
}
.navbar .navbar-nav > .dropdown > .dropdown-menu {
	background: #353b44;
}
.navbar .navbar-toggle .icon-bar {
	background-color: #fff;
}
@media (min-width: 768px) {
	.navbar .navbar-nav > .active:before {
		font: normal normal normal 14px/1 FontAwesome;
		margin-top: 28px;
		margin-left: 14px;
		color: #497799;
		font-size: 36px;
		content: "\f0d8";
		position: absolute;
		z-index: 1;
	}
	.navbar .navbar-nav > .active.icon-white:before {
		color: #fff;
	}
	.navbar .navbar-nav > .active.icon-grey:before {
		color: #eee;
	}
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > .dropdown > .dropdown-menu > li > a {
	font-weight: 700;
	color: #fff;
}
.navbar .navbar-nav > .dropdown > .dropdown-menu > li > a {
	font-weight: 500;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
	background: #353b44;
}
.navbar .navbar-nav > .no-overlay > a:hover,
.navbar .navbar-nav > .no-overlay > a:focus,
.navbar .navbar-nav > .no-overlay.active > a,
.navbar .navbar-nav > .no-overlay.active > a:hover,
.navbar .navbar-nav > .no-overlay.active > a:focus,
.navbar .navbar-nav > .no-overlay.open > a,
.navbar .navbar-nav > .no-overlay.open > a:focus,
.navbar .navbar-nav > .no-overlay.open > a:hover {
	background: #202630;
}
.navbar .navbar-nav > .dropdown > .dropdown-menu > li > a:hover,
.navbar .navbar-nav > .dropdown > .dropdown-menu > li > a:focus,
.navbar .navbar-nav > .dropdown > .dropdown-menu > .active > a,
.navbar .navbar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.navbar .navbar-nav > .dropdown > .dropdown-menu > .active > a:focus {
	background: #484e56;
}
.navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay > a:hover,
.navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay > a:focus,
.navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay.active > a,
.navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay.active > a:hover,
.navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay.active > a:focus {
	background: #353b44;
}
.navbar .navbar-nav > .no-overlay > a,
.navbar .navbar-nav > .no-overlay > a:hover,
.navbar .navbar-nav > .no-overlay > a:focus {
	background: #202630;
}
.navbar .navbar-nav > .dropdown > .dropdown-menu > .divider {
	background: #484e56;
}

.navbar .navbar-nav .form-group,
.navbar .navbar-nav .form-group > *,
.navbar .navbar-nav .checkbox,
.navbar .navbar-nav .radio {
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar .navbar-nav .form-group:first-child,
.navbar .navbar-nav .form-group > *:first-child,
.navbar .navbar-nav .checkbox:first-child,
.navbar .navbar-nav .radio:first-child {
	margin-top: 0;
}
.navbar .navbar-nav .form-group:last-child,
.navbar .navbar-nav .form-group > *:last-child,
.navbar .navbar-nav .checkbox:last-child,
.navbar .navbar-nav .radio:last-child {
	margin-bottom: 0;
}

.navbar .avatar {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-top: -5px;
}
.navbar .avatar + * {
	margin-left: 40px;
}
@media (min-width: 768px) {
	.navbar .avatar {
		width: 40px;
		height: 40px;
		margin-top: -10px;
	}
	.navbar .avatar + * {
		margin-left: 50px;
	}
}

/* -------- */
/*  HEADER  */
/* -------- */

.title-banner {
	background: #497799;
	margin-bottom: 30px;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	font-size: 22px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
}
@media (min-width: 768px) {
	.title-banner { font-size: 32px; }
}

.title-banner *:not(input):not(.help-block):first-child {
	margin-top: 0;
}
.title-banner *:last-child {
	margin-bottom: 0;
}

/* ------ */
/*  PAGE  */
/* ------ */

.page-content { margin-bottom: 30px; }

.page-content h1 {
	margin-top: 18px;
	margin-bottom: 18px;
}
.page-content h2, .page-content h3 {
	margin-top: 12px;
	margin-bottom: 12px;
}

.page-content *:not(input):not(.help-block):first-child { margin-top: 0 !important; }
.page-content *:last-child { margin-bottom: 0 !important; }

.page-content .message {
	background: #fff;
	width: 90%;
	margin: 0 auto 20px;
	padding: 10px;
	color: #000;
	font-size: 16px;
	text-align: center;
	font-weight: 300;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 5px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
}
@media (min-width: 768px) {
	.page-content .message { width: 50%; }
}
.page-content .message:not(.remain) { cursor: pointer; }
.page-content .message.message-primary {
	background: #337ab7;
	color: #fff;
	border-color: #2e6da4;
}
.page-content .message.message-success {
	background: #5cb85c;
	color: #fff;
	border-color: #4cae4c;
}
.page-content .message.message-info {
	background: #5bc0de;
	color: #fff;
	border-color: #46b8da;
}
.page-content .message.message-warning {
	background: #f0ad4e;
	color: #fff;
	border-color: #eea236;
}
.page-content .message.message-danger {
	background: #d9534f;
	color: #fff;
	border-color: #d43f3a;
}

.page-content .header {
	background: transparent;
	margin: 0 auto 10px;
	font-size: 38px;
	text-align: center;
}
.page-content .content-box {
	background: #fff;
	padding: 15px;
	margin: 0 auto 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .16);
	border: 1px solid rgba(0, 0, 0, .16);
	border-radius: 5px;
	overflow-x: auto;
}
.page-content .content-box.transparent {
	background: transparent;
	padding: 5px;
	box-shadow: none;
	border: 0;
}
.page-content .content-box .stat-box h2 {
	margin-bottom: 5px;
}
.page-content .content-box .form-horizontal textarea.form-control {
    resize: vertical;
}

.page-content .table {
	margin-bottom: 10px;
    white-space: nowrap;
}
.page-content .table > thead .selector-menu,
.page-content .table > tbody .selector {
	width: 40px;
    text-align: center;
}
.page-content .table > tbody .selector {
	cursor: pointer;
}

/* -------- */
/*  FOOTER  */
/* -------- */

.footer {
	background: #202630;
	padding: 15px 0;
	color: #fff;
	text-align: center;
	font-size: 16px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
}
@media (min-width: 768px) {
	.footer { font-size: 18px; }
}

.footer > * { margin-top: 10px; }
.footer > *:first-child { margin-top: 0; }
.footer > *:last-child { margin-bottom: 0; }

.footer > .social li {
	display: inline-block;
	padding: 0 8px;
}
.footer > .social li .icon {
	color: #fff;
	font-size: 20px;
	opacity: 0.7;
	transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
}
@media (min-width: 768px) {
	.footer > .social li .icon { font-size: 24px; }
}
.footer > .social li .icon:hover,
.footer > .social li .icon:focus {
	text-decoration: none;
	opacity: 1;
}
.footer > .social li .icon > .label {
	display: none;
}

.footer > .copyright > li {
	display: inline-block;
	margin-left: 13px;
	padding-left: 13px;
	list-style: none;
	border-left: 1px solid #fff;
}
.footer > .copyright > li:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: 0;
}
.footer > .copyright > li > a {
	color: #fff;
	border-bottom: 1px dotted #fff;
	transition: border 0.2s ease-in-out;
	-moz-transition: border 0.2s ease-in-out;
	-webkit-transition: border 0.2s ease-in-out;
}
.footer > .copyright > li > a:hover,
.footer > .copyright > li > a:focus {
	text-decoration: none;
	border-bottom: transparent;
}